@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

/* custom */

.header {
  position: relative;
}

.header::after {
  content: "";
  width: 100%;
  height: calc((1vh + 1vw) * 20);
  position: absolute;
  bottom: calc((1vh + 1vw) * -7);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 6;
}

.header__container {
  position: relative;
}

.header__layers {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  padding: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  z-index: 5;
  color: rgb(211, 214, 160);
  text-shadow: 1px 1px 7px #f9fc53;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 1.75), 0);
  transform: translate3d(0, calc(var(--scrollTop) / 1.75), 0);
  -webkit-transition: cubic-bezier(0.16, 0.475, 0.28, 1.07);
  -o-transition: cubic-bezier(0.16, 0.475, 0.28, 1.07);
  transition: cubic-bezier(0.16, 0.475, 0.28, 1.07);
  z-index: 1;
  padding-bottom: calc((1vh + 1vw) * 5.4);
  will-change: transform;
}

.header__layer-title {
  font-size: calc(1vh + 1vw);
  font-weight: bold;
  letter-spacing: calc((1vh + 1vw) * 0.75);
}

.header__layer-subtitle {
  font-size: calc((1vh + 1vw) * 2);
  font-weight: 900;
  letter-spacing: 18px;
  letter-spacing: calc((1vh + 1vw) * 0.75);
}

.header__layer-base {
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  z-index: 0;
}

.header__layer-middle {
  z-index: 2;
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 3), 0);
  transform: translate3d(0, calc(var(--scrollTop) / 3), 0);
}

.header__layer-front {
  z-index: 2;
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 15), 0);
  transform: translate3d(0, calc(var(--scrollTop) / 15), 0);
}

.layer {
  width: 100%;
  height: 100%;
  -webkit-transition: cubic-bezier(0.16, 0.475, 0.28, 1.07);
  -o-transition: cubic-bezier(0.16, 0.475, 0.28, 1.07);
  transition: cubic-bezier(0.16, 0.475, 0.28, 1.07);
  will-change: transform;
}

/* Two List*/

.main__container {
  width: 100%;
}

.main__layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: calc((1vh + 1vw) * 4);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 5;
  color: rgb(211, 214, 160);
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 9), 0);
  transform: translate3d(0, calc(var(--scrollTop) / 9), 0);
  -webkit-transition: cubic-bezier(0.16, 0.475, 0.28, 1.07);
  -o-transition: cubic-bezier(0.16, 0.475, 0.28, 1.07);
  transition: cubic-bezier(0.16, 0.475, 0.28, 1.07);
}

.main__layer-title {
  font-size: calc((1vh + 1vw) * 2);
  font-weight: 900;
  margin-bottom: calc((1vh + 1vw) * 0.75);
  max-width: calc((1vh + 1vw) * 25);
}

.main__layer-text {
  font-size: calc((1vh + 1vw) * 0.75);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 2px;
  max-width: calc((1vh + 1vw) * 25);
}

.main__screen {
  width: 100%;
  height: 100%;
}

/* Footer */

.footer__copyright {
  position: absolute;
  color: antiquewhite;
  z-index: 5;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  color: #f9fcff;
  opacity: 0.2;
  text-shadow: 0 0 15px #fff;
  bottom: 0;
  font-size: 14px;
}

@font-face {
  font-family: "raleway-f";
  src: url(../fonts/raleway-black.woff2);
}

@font-face {
  font-family: "raleway-f";
  src: url(../fonts/raleway-regular.woff2);
}

html {
  background-color: black;
}

body {
  font-family: "raleway-f", sans-serif;
  font-size: 16px;
  color: #050505;
  line-height: 1.18;
}

[class*=__container] {
  width: 1200;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}